<nav class="sidebar d-flex flex-column p-3 bg-light vh-100" style="width: 310px;">
  <h4 class="mb-3">
    <a routerLink="/admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
      Dashboard
    </a>
  </h4>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/admin/dashboard/agent" routerLinkActive="active" class="nav-link">Agent</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/beverage-ingredients" routerLinkActive="active" class="nav-link">Beverage Ingredients</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/beverage-prod-order" routerLinkActive="active" class="nav-link">Beverage Production Order</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/beverage-type" routerLinkActive="active" class="nav-link">Beverage Type</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/coconut-purchase" routerLinkActive="active" class="nav-link">Coconut Purchase</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/coconutwater-prod-order" routerLinkActive="active" class="nav-link">Coconut Water Production Order</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/copra-sale" routerLinkActive="active" class="nav-link">Copra Sale</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/customer" routerLinkActive="active" class="nav-link">Customer</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/delivery-vehicle" routerLinkActive="active" class="nav-link">Delivery Vehicle</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/inventory" routerLinkActive="active" class="nav-link">Inventory</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/order" routerLinkActive="active" class="nav-link">Order</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/payment-details" routerLinkActive="active" class="nav-link">Payment Details</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/prod-order-details" routerLinkActive="active" class="nav-link">Production Order Details</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/shipping-plan" routerLinkActive="active" class="nav-link">Shipping Plan</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/supplier-payment-details" routerLinkActive="active" class="nav-link">Supplier Payment Details</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/supplier" routerLinkActive="active" class="nav-link">Supplier</a>
    </li>
    <li class="my-1">
      <a routerLink="/admin/dashboard/vinegar-prod-order" routerLinkActive="active" class="nav-link">Vinegar Production Order</a>
    </li>
  </ul>
</nav>
