<div class="container mt-4">
  <h5 class="mb-4">{{ isEditMode ? "Edit Copra Sale" : "Add Copra Sale" }}</h5>
  <form [formGroup]="copraSaleForm" (ngSubmit)="onSubmit()">
    <div
      *ngIf="getFormErrors().length > 0"
      class="alert alert-danger p-2 mb-3 rounded"
    >
      <ul class="mb-0">
        <li *ngFor="let error of getFormErrors()">{{ error }}</li>
      </ul>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label>Sale Quantity</label>
        <input
          formControlName="saleQuantity"
          placeholder="0"
          type="number"
          class="form-control"
          min="0"
        />
      </div>
      <div class="col-md-4">
        <label>Price Per Quantity</label>
        <input
          formControlName="pricePerQuantity"
          placeholder="0"
          type="number"
          min="0"
          class="form-control"
        />
      </div>
      <div class="col-md-4">
        <label>Sale Date</label>
        <input formControlName="saleDate" type="date" class="form-control" />
      </div>
    </div>

    <!-- Add Section Buttons -->
    <div class="mt-3">
      <!-- <button
        type="button"
        class="btn btn-outline-primary me-2"
        (click)="toggleSection('customer')"
        *ngIf="!isEditMode"
      >
        Add Customer
      </button> -->
      <!-- <button
        type="button"
        class="btn btn-outline-primary me-2"
        (click)="toggleSection('customerSearch')"
        *ngIf="!isEditMode"
      >
        Search Customer
      </button> -->
    </div>

    <!-- Customer Dropdown for 'select' mode -->
    <div *ngIf="showCustomerSearchForm" class="mt-3 border p-3">
      <label class="mb-2">Select Existing Customer</label>
      <select class="form-select" [formControl]="customerSelectControl">
        <option disabled selected [value]="null">Select Customer</option>
        <option *ngFor="let c of existingCustomers" [ngValue]="c">
          {{ c.firstName }} {{ c.lastName }}
        </option>
      </select>
    </div>

    <div
      *ngIf="showCustomerForm"
      [formGroup]="customerForm"
      class="mt-3 border p-3"
    >
      <!-- Customer Fields (shown in both modes) -->
      <div class="row">
        <h5>Customer Info</h5>
        <div class="col-md-4">
          <input
            formControlName="firstName"
            class="form-control"
            placeholder="First Name"
            [readonly]="isEditMode"
          />
        </div>
        <div class="col-md-4">
          <input
            formControlName="lastName"
            class="form-control"
            placeholder="Last Name"
            [readonly]="isEditMode"
          />
        </div>
        <div class="col-md-4">
          <input
            formControlName="email"
            class="form-control"
            placeholder="Email"
            [readonly]="isEditMode"
          />
        </div>
        <div class="col-md-6 mt-2">
          <input
            formControlName="address"
            class="form-control"
            placeholder="Address"
            [readonly]="isEditMode"
          />
        </div>
        <div class="col-md-3 mt-2">
          <select formControlName="customerType" class="form-select">
            <option disabled selected value="">Select Customer Type</option>
            <option
              *ngFor="let custype of customerTypeOptions"
              [value]="custype"
            >
              {{ custype }}
            </option>
          </select>
        </div>
        <div class="col-md-3 mt-2">
          <input
            formControlName="creditLimit"
            type="number"
            min="0"
            class="form-control"
            placeholder="Credit Limit"
            [readonly]="isEditMode"
          />
        </div>
      </div>
    </div>

    <!-- Shipping Plan Form -->
    <div class="mt-3 border p-3" [formGroup]="shippingPlanForm">
      <h5>Shipping Plan</h5>
      <div class="row">
        <div class="col-md-6">
          <label class="form-label">Shipping Address</label>
          <input
            formControlName="shippingAddress"
            class="form-control"
            placeholder="Shipping Address"
          />
        </div>
        <div class="col-md-6">
          <label class="form-label">Shipping Date</label>
          <input
            formControlName="shippingDate"
            type="date"
            class="form-control"
            placeholder="Shipping Date"
          />
        </div>

        <div class="col-md-3 mt-2">
          <label class="form-label">Shipping Type</label>
          <select formControlName="shippingType" class="form-select">
            <option disabled selected value="">Select Shipping Type</option>
            <option *ngFor="let type of shippingTypeOptions" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>

        <div class="col-md-3 mt-2">
          <label class="form-label">Shipping Status</label>
          <select formControlName="shippingStatus" class="form-select">
            <option disabled selected value="">Select Shipping Status</option>
            <option
              *ngFor="let status of shippingStatusOptions"
              [value]="status"
            >
              {{ status }}
            </option>
          </select>
        </div>

        <div class="col-md-6 mt-2">
          <label class="form-label">Tracking Number</label>
          <input
            formControlName="trackingNumber"
            class="form-control"
            placeholder="Tracking Number"
            readonly
          />
        </div>

        <div class="col-md-6 mt-2">
          <label class="form-label">Delivery Type</label>
          <select formControlName="deliveryType" class="form-select">
            <option selected disabled value="">Select Delivery Type</option>
            <option *ngFor="let dType of deliveryTypeOptions" [value]="dType">
              {{ dType }}
            </option>
          </select>
        </div>

        <!-- <div
          *ngIf="shippingPlanForm.get('deliveryType')?.value !== 'PICKUP'"
          class="col-md-6 mt-2"
        > -->
        <div class="col-md-6 mt-2">
          <label class="form-label">Delivery Vehicle</label>
          <select formControlName="deliveryVehicle" class="form-select">
            <option selected disabled [ngValue]="null">
              Select Avaiable Vehicle
            </option>
            <option
              *ngFor="let vehicle of deliveryVehicles"
              [ngValue]="vehicle"
            >
              {{ vehicle.vehicleRegNo }} ({{ vehicle.vehicleType }})
            </option>
          </select>
        </div>
      </div>
    </div>

    <!-- Payment Details Form -->
    <div [formGroup]="paymentDetailsForm" class="mt-3 border p-3">
      <h5>Payment Details</h5>
      <div class="row">
        <div class="col-md-4">
          <label class="form-label">Payment Status</label>
          <select formControlName="paymentStatus" class="form-select">
            <option selected disabled value="">Select Payment Status</option>
            <option
              *ngFor="let pStatus of paymentStatusOptions"
              [value]="pStatus"
            >
              {{ pStatus }}
            </option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label">Payment Date</label>
          <input
            formControlName="paymentDate"
            type="date"
            class="form-control"
          />
        </div>
        <div class="col-md-4">
          <label class="form-label">Payment Amount</label>
          <input
            formControlName="paymentAmount"
            type="number"
            class="form-control"
            placeholder="Amount"
            min="0"
          />
        </div>
        <div class="col-md-6 mt-2">
          <label class="form-label">Payment Method</label>
          <select formControlName="paymentMethod" class="form-select">
            <option selected disabled value="">Select Payment Method</option>
            <option
              *ngFor="let pMethod of paymentMethodOptions"
              [value]="pMethod"
            >
              {{ pMethod }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <button type="submit" class="btn btn-primary">
        {{ isEditMode ? "Update Copra Sale" : "Submit Copra Sale" }}
      </button>
    </div>
  </form>
</div>
