<div class="container mt-4">
    <h5 class="mb-4">{{ isEditMode ? "Edit Vehicle" : "Add Vehicle" }}</h5>
    <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
      <div
      *ngIf="getFormErrors().length > 0"
      class="alert alert-danger p-2 mb-3 rounded"
    >
      <ul class="mb-0">
        <li *ngFor="let error of getFormErrors()">{{ error }}</li>
      </ul>
    </div>
      <div class="mb-3">
        <label class="form-label">Vehicle Reg No</label>
        <input
          formControlName="vehicleRegNo"
          class="form-control"
          placeholder="Enter Vehicle Registration Number"
        />
      </div>
  
      <div class="mb-3">
        <label class="form-label">Vehicle Type</label>
        <select formControlName="vehicleType" class="form-select">
            <option disabled selected value="">Select Vehicle Type</option>
          <option *ngFor="let type of vehicleTypeOptions" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Availability Status</label>
        <select formControlName="availabilityStatus" class="form-select">
            <option disabled selected value="">Select Availability Status</option>
          <option *ngFor="let status of availabilityStatusOptions" [value]="status">
            {{ status }}
          </option>
        </select>
      </div>
  
      <button class="btn btn-success" type="submit">
        {{ isEditMode ? "Update Vehicle" : "Add Vehicle" }}
      </button>
    </form>
  </div>
  