<div class="container mt-4">
  <h5>{{ isEditMode ? 'Edit Inventory' : 'Add Inventory' }}</h5>
    <form [formGroup]="inventoryForm" (ngSubmit)="onSubmit()">
      <div
      *ngIf="getFormErrors().length > 0"
      class="alert alert-danger p-2 mb-3 rounded"
    >
      <ul class="mb-0">
        <li *ngFor="let error of getFormErrors()">{{ error }}</li>
      </ul>
    </div>
      <div class="mb-3">
        <label class="form-label">Inventory Item Type</label>
        <select class="form-select" formControlName="inventoryItemType" required>
          <option value="" disabled selected>Select Item Type</option>
          <option *ngFor="let type of itemTypes" [value]="type">{{ type }}</option>
        </select>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Quantity</label>
        <input type="number" class="form-control" formControlName="inventoryQuantity" required min="0" />
      </div>
  
      <div class="mb-3">
        <label class="form-label">Quantity Type</label>
        <select class="form-select" formControlName="inventoryQuantityType" required>
          <option value="" disabled selected>Select Quantity Type</option>
          <option *ngFor="let qt of quantityTypes" [value]="qt">{{ qt }}</option>
        </select>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Minimum Stock Level</label>
        <input type="number" class="form-control" formControlName="minimumStockLevel" required min="0"/>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Maximum Stock Level</label>
        <input type="number" class="form-control" formControlName="maximumStockLevel" required min="0" />
      </div>
  
      <button class="btn btn-success" type="submit">
        {{ isEditMode ? 'Update Inventory' : 'Add Inventory' }}
      </button>
    </form>
  </div>
  