<div class="row">
  <div class="col-md-3 mb-3">
    <div class="nav flex-column nav-pills">
      <a
        routerLink="list"
        routerLinkActive="active"
        class="nav-link mb-2"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        List Agents
      </a>
      <a routerLink="form" routerLinkActive="active" class="nav-link">
        Agent Form
      </a>
    </div>
  </div>

  <!-- Router Outlet for tab content -->
  <div class="col-md-9">
    <div class="shadow p-3 bg-white">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
