<h5 class="mb-3">
  {{ isEditMode ? "Edit Ingredient" : "Add New Ingredient" }}
</h5>

<form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()" class="mt-3">
  <div *ngIf="getFormErrors().length > 0" class="alert alert-danger p-2 mb-3 rounded">
    <ul class="mb-0">
      <li *ngFor="let error of getFormErrors()">{{ error }}</li>
    </ul>
  </div>
  <div class="mb-3">
    <label for="ingredientName" class="form-label">Ingredient Name</label>
    <input
      type="text"
      class="form-control"
      id="ingredientName"
      formControlName="ingredientName"
      placeholder="Enter name"
    />
  </div>

  <div class="mb-3">
    <label for="measureAmount" class="form-label">Measure Amount</label>
    <input
      type="number"
      class="form-control"
      id="measureAmount"
      formControlName="measureAmount"
      placeholder="Enter amount"
      min="0"
      [placeholder]="0"
    />
  </div>

  <div class="mb-3">
    <label for="ingredientMeasure" class="form-label">Ingredient Measure</label>
    <select
      class="form-select"
      id="ingredientMeasure"
      formControlName="ingredientMeasure"
    >
      <option value="" disabled>Select Measure</option>
      <option *ngFor="let measure of ingredientMeasures" [value]="measure">
        {{ measure }}
      </option>
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Beverage Type</label>
    <select
      class="form-select"
      id="beverageType"
      formControlName="beverageType"
    >
      <option value="null" selected disabled>Select Beverage Type</option>
      <option *ngFor="let type of beverageTypes" [ngValue]="type">
        {{ type.beverageName }}
      </option>
    </select>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
  >
    {{ isEditMode ? "Update Ingredient" : "Add Ingredient" }}
  </button>
</form>
